@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 217 32% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 215 24% 26%;
    --popover-foreground: 210 40% 98%;

    --primary: 198 93% 59%;
    --primary-foreground: 204 80% 15%;

    --secondary: 212 26% 83%;
    --secondary-foreground: 228 84% 4%;

    --muted: 215 16% 46%;
    --muted-foreground: 210 40% 98%;

    --accent: 228 84% 4%;
    --accent-foreground: 215 20% 65%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;

    --border: 215 19% 34%;
    --input: 215 19% 34%;
    --ring: 198 93% 59%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
